html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .colsslider {

  }

  .rowslider {

  }

  .new-btn {

  }

  .randomize-check {

  }

  .selection {

  }

  .save-btn {

  }

  .grid-check {
    
  }